.navbar-fixed {
  background: #000;
  width: 100%;
  top: -48px;
  display: block;
  position: fixed;
  transition: all 0.5s ease;
}
.navbar-fixed nav {
  background: linear-gradient(#60648e, #545643);
}
.navbar-fixed nav .nav-wrapper img {
  width: 4rem;
  margin: 0.5rem;
  background-color: white;
  padding: 0.1rem;
  border-radius: 0.5rem;
}
.navbar-fixed nav .nav-wrapper ul li a {
  font-size: 1.5rem;
  font-weight: bold;
}

.page-footer {
  background: linear-gradient(#545643, #60648e);
}
.page-footer .container .row .col.l6.s12 h5 {
  text-shadow: black 2px 5px;
  text-align: center;
  font-weight: bold;
}
.page-footer .container .row .col.l6.s12 ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(73, 74, 60, 0.5019607843);
  padding: 0.5rem;
  border-radius: 1rem;
  margin: 0.5rem;
}
.page-footer .container .row .col.l6.s12 ul li h6 {
  font-weight: bold;
  font-size: 1rem;
}
.page-footer .container .row .col.l6.s12 ul li p {
  font-size: 1rem;
}
.page-footer .container .row .col.l4.offset-l2.s12 h5 {
  text-shadow: black 2px 5px;
  text-align: center;
  font-weight: bold;
}
.page-footer .container .row .col.l4.offset-l2.s12 ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  line-height: 5rem;
}
.page-footer .container .row .col.l4.offset-l2.s12 ul li {
  font-weight: bold;
  font-size: 2rem;
}
.page-footer .footer-copyright {
  background-color: #545643;
}

.home {
  background-color: bisque;
}
.home .imgparallax {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../Background/Lodge(16).jpg");
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home .imgparallax .titre h1 {
  font-weight: bold;
  color: black;
  text-shadow: white 2px 5px 5px;
}
.home .imgparallax .titre h2 {
  font-weight: bold;
  color: black;
  text-shadow: white 2px 5px 5px;
}
.home .container h3 {
  text-shadow: rgb(255, 255, 255) 2px 0 10px;
  font-weight: bold;
}
.home .container p {
  font-size: 1.2rem;
  text-align: center;
}

.contact {
  background-color: bisque;
}
.contact .container h3 {
  font-weight: bold;
  text-align: center;
  text-shadow: black 2px 2px 5px;
}
.contact .container .row form {
  border-radius: 1rem;
  background-color: #494a3c;
}

.archi *.illustratorCAD {
  font-weight: 100;
  font-size: small;
}
.archi .container h3 {
  font-weight: bold;
}
.archi .faitInteressant {
  text-shadow: white 2px 2px 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../projet-archi/rendufinal1.jpg");
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 0 0px white, 0 5px 8px 3px rgba(0, 0, 0, 0.6);
}
.archi .gallery {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(10, 80vw);
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  overflow: scroll;
  height: 90vh;
  scroll-snap-type: both mandatory;
  scroll-padding: 1rem;
  cursor: grab;
}
.archi .gallery li {
  scroll-snap-align: center;
  display: inline-block;
  border-radius: 3px;
  background-color: bisque;
  border-radius: 5px;
  box-shadow: 0 0 0 3px white, 0 5px 8px 3px rgba(0, 0, 0, 0.6);
}
.archi .gallery li .container .titre {
  display: flex;
  justify-content: space-between;
}
.archi .gallery li .container .titre p {
  font-weight: bold;
  text-shadow: 2px -2px 4px black;
}
.archi .gallery li .container .titre h4 {
  font-weight: bold;
  text-shadow: 2px -2px 4px black;
}
.archi .gallery li .container .right-align p {
  width: 20rem;
  margin: 0 auto;
  font-weight: 700;
  line-height: 2rem;
}
.archi .gallery li .container img {
  border-radius: 5px;
  box-shadow: 0 0 0 3px white, 0 5px 8px 3px rgba(0, 0, 0, 0.6);
}
.archi .gallery li .container img:hover {
  transform: scale(1.1);
  /* Agrandit l'image de 10% au survol */
}
.archi .gallery li .row.synthese-analyse {
  display: flex;
  align-items: center;
  padding: 2rem;
}
.archi .gallery li .row.synthese-analyse img {
  width: 50%;
  border-radius: 5px;
  box-shadow: 0 0 0 3px white, 0 5px 8px 3px rgba(0, 0, 0, 0.6);
}
.archi .gallery li .row.synthese-analyse img:hover {
  transform: scale(1.1);
  /* Agrandit l'image de 10% au survol */
}
.archi .gallery li .row.synthese-analyse .col.s12.m8.icones-synthese-text {
  margin: 2rem;
}
.archi .gallery li .row.synthese-analyse .col.s12.m8.icones-synthese-text .container img {
  width: 20rem;
  border-radius: 5px;
  box-shadow: 0 0 0 3px white, 0 5px 8px 3px rgba(0, 0, 0, 0.6);
}
.archi .gallery li .row.synthese-analyse .col.s12.m8.icones-synthese-text img:hover {
  transform: scale(1);
  /* Agrandit l'image de 10% au survol */
}
.archi .gallery li .row.synthese-analyse .col.s12.m8.icones-synthese-text .text {
  margin: 1rem;
  line-height: 2;
}
.archi .gallery li .thumbs {
  display: flex;
  max-width: 100%;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
.archi .gallery li .thumbs span {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 14.5rem;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 0 0 0 3px white, 0 5px 8px 3px rgba(0, 0, 0, 0.6);
}
.archi .gallery li .thumbs span a {
  border-radius: 5px;
  max-width: 14.5rem;
  height: 12.5rem;
  overflow: hidden;
  transform: scale(1);
  transition: transform 0.1s ease-in-out;
  filter: grayscale(50%);
}
.archi .gallery li .thumbs span a img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.archi .gallery li .thumbs span a:hover img {
  transform: scale(1.1);
  filter: grayscale(0%);
}
.archi .gallery li .thumbs span h6 {
  height: 2.5rem;
  text-align: center;
}
.archi .gallery li .thumbs span:hover {
  text-decoration: underline;
}
.archi .gallery li .lightbox {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: 90%;
  width: 100%;
  left: 0;
  top: 4.1rem;
  transform: translateY(-100%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.archi .gallery li .lightbox:has(div:target) {
  transform: translateY(0%);
  opacity: 1;
}
.archi .gallery li .lightbox a.nav {
  text-decoration: none;
  color: white;
  font-size: 40px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
  opacity: 0.5;
  font-weight: 200;
}
.archi .gallery li .lightbox a.nav:hover {
  opacity: 1;
}
.archi .gallery li .lightbox .target {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  transform: scale(0);
  align-items: center;
  justify-content: space-between;
}
.archi .gallery li .lightbox .target *:first-child,
.archi .gallery li .lightbox .target *:last-child {
  flex: 0 0 100px;
  text-align: center;
}
@media all and (max-width: 600px) {
  .archi .gallery li .lightbox .target *:first-child,
  .archi .gallery li .lightbox .target *:last-child {
    flex: 0 0 50px;
  }
}
.archi .gallery li .lightbox .target .content {
  transform: scale(0.9);
  opacity: 0;
  flex: 1 1 auto;
  align-self: center;
  max-height: 100%;
  min-height: 0;
  min-width: 0;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 0 3px white, 0 5px 8px 3px rgba(0, 0, 0, 0.6);
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}
.archi .gallery li .lightbox .target .content img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: calc(100vh - 40px);
  display: block;
  margin: 0;
}
.archi .gallery li .lightbox .target:target {
  transform: scale(1);
}
.archi .gallery li .lightbox .target:target .content {
  transform: scale(1);
  opacity: 1;
}
.archi .gallery li .lightbox .close {
  position: absolute;
  right: 10px;
  top: 10px;
}
.archi .gallery li .container .text-iso-illot {
  padding: 1rem;
  text-align: center;
  background-color: rgba(245, 245, 220, 0.4901960784);
  border-radius: 5px;
  box-shadow: 0 0 0 3px white, 0 5px 8px 3px rgba(0, 0, 0, 0.6);
}
.archi .gallery li .elevation-coupe-plan img {
  border-radius: 5px;
  box-shadow: 0 0 0 3px white, 0 5px 8px 3px rgba(0, 0, 0, 0.6);
}
.archi .gallery li .elevation-coupe-plan .container p {
  text-align: center;
}
.archi .gallery li .container embed {
  box-shadow: 0 0 0 0px white, 0 5px 8px 3px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}
.archi .gallery li .container .items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.archi .gallery li .container .items .item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  border-radius: 5px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  z-index: -1;
  opacity: 0;
}
.archi .gallery li .container .items .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.archi .gallery li .container .items .item.active {
  opacity: 1;
  z-index: 99;
  box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}
.archi .gallery li .container .items .item.prev {
  z-index: 2;
  opacity: 0.25;
  transform: translate(-125%, -50%);
}
.archi .gallery li .container .items .item.next {
  z-index: 2;
  opacity: 0.25;
  transform: translate(25%, -50%);
}
.archi .gallery li .container .items .button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 275px;
  z-index: 100;
}
.archi .gallery li .container .items .button-container .button {
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  position: relative;
  opacity: 0.75;
  transition: all 300ms ease-in-out;
}
.archi .gallery li .container .items .button-container .button:hover {
  opacity: 1;
}
.archi .gallery li .container .items .button-container .button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  z-index: -99;
}
.archi .gallery li .container .items .button-container .button:nth-child(1) {
  float: left;
}
.archi .gallery li .container .items .button-container .button:nth-child(2) {
  float: right;
}
.archi .active {
  scroll-snap-type: unset;
  cursor: grabbing;
}/*# sourceMappingURL=style.css.map */