//
// Bar de navigation
.navbar-fixed {
    nav {
        background: linear-gradient(#60648e, #545643);

        .nav-wrapper {

            img {
                width: 4rem;
                margin: .5rem;
                background-color: white;
                padding: .1rem;
                border-radius: .5rem;
            }

            ul {
                li {
                    a {
                        font-size: 1.5rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

//
// Footer
.page-footer {
    background: linear-gradient(#545643, #60648e);

    .container {
        .row {

            .col.l6.s12 {
                h5 {
                    text-shadow: black 2px 5px;
                    text-align: center;
                    font-weight: bold;
                }

                ul {
                    li {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background-color: #494a3c80;
                        padding: .5rem;
                        border-radius: 1rem;
                        margin: .5rem;

                        h6 {
                            font-weight: bold;
                            font-size: 1rem;

                        }

                        p {
                            font-size: 1rem;
                        }
                    }
                }
            }

            .col.l4.offset-l2.s12 {
                h5 {
                    text-shadow: black 2px 5px;
                    text-align: center;
                    font-weight: bold;
                }

                ul {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    line-height: 5rem;

                    li {
                        font-weight: bold;
                        font-size: 2rem;


                    }

                }
            }

        }
    }

    .footer-copyright {
        background-color: #545643;
    }
}

//
// Page Home
.home {
    background-color: bisque;

    .imgparallax {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../Background/Lodge\(16\).jpg");


        /* Set a specific height */
        min-height: 600px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .titre {
            h1 {
                font-weight: bold;
                color: black;
                text-shadow: white 2px 5px 5px;
            }

            h2 {
                font-weight: bold;
                color: black;
                text-shadow: white 2px 5px 5px;

            }
        }
    }

    .container {
        h3 {
            text-shadow: rgb(255, 255, 255) 2px 0 10px;

            font-weight: bold;
        }

        p {
            font-size: 1.2rem;
            text-align: center;
        }
    }

}

//
// Page Contact
.contact {
    background-color: bisque;

    .container {

        h3 {
            font-weight: bold;
            text-align: center;
            text-shadow: black 2px 2px 5px;
        }

        .row {
            form {
                border-radius: 1rem;
                background-color: #494a3c;

            }
        }
    }
}

//
// PAge Archi
.archi {
    .container {
        h3 {
            font-weight: bold;
        }


    }

    .faitInteressant {
        text-shadow: white 2px 2px 5px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../projet-archi/rendufinal1.jpg");


        /* Set a specific height */
        min-height: 300px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;


    }



    .gallery {
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(10, 80vw);
        grid-template-rows: 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        overflow: scroll;
        height: 90vh;
        scroll-snap-type: both mandatory;
        scroll-padding: 1rem;
        cursor: grab;



        li {
            scroll-snap-align: center;
            display: inline-block;
            border-radius: 3px;
            background-color: bisque;


            .container {

                .titre {
                    display: flex;
                    justify-content: space-between;

                    p {
                        font-weight: bold;
                        text-shadow: 2px -2px 4px black;
                    }

                    h4 {
                        font-weight: bold;
                        text-shadow: 2px -2px 4px black;
                    }
                }

                .right-align {
                    p {
                        width: 20rem;
                        margin: 0 auto;
                        font-weight: 700;
                        line-height: 2rem;
                    }
                }
            }

            .container {
                img {
                    border: solid;
                    box-shadow: 0px 0px 10px 5px;
                }

                img:hover {
                    transform: scale(1.3);
                    /* Agrandit l'image de 30% au survol */
                }
            }


            .row.synthese-analyse {

                display: flex;
                align-items: center;
                padding: 2rem;

                img {
                    width: 50%;
                    border: solid;
                    box-shadow: 0px 0px 10px 5px;
                }

                img:hover {
                    transform: scale(1.3);
                    /* Agrandit l'image de 30% au survol */
                }

                .col.s12.m8.icones-synthese-text {
                    margin: 2rem;

                    .container {
                        img {
                            width: 20rem;
                            border: solid;
                            box-shadow: 0px 0px 10px 5px;
                        }
                    }



                    img:hover {
                        transform: scale(1.3);
                        /* Agrandit l'image de 30% au survol */
                    }

                    .text {
                        p {
                            line-height: 2;
                            margin: 1.5rem;
                        }
                    }
                }
            }



        }

    }

    .active {
        scroll-snap-type: unset;
        cursor: grabbing;
    }

}

.thumbs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 500px;
    max-width: 100%;

    a {
        max-width: 150px;
        height: 150px;
        margin: 10px;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 0 0 0 3px white, 0 5px 8px 3px rgba(black, 0.6);

        img {
            transform: scale(1);
            transition: transform 0.1s ease-in-out;
            filter: grayscale(50%);
            min-width: 100%;
            min-height: 100%;
            max-width: 100%;
            max-height: 100%;
        }

        &:hover {
            img {
                transform: scale(1.1);
                filter: grayscale(0%);
            }
        }
    }
}

.lightbox {
    position: fixed;
    background: rgba(black, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 90%;
    width: 90%;
    left: 0px;
    bottom: 0px;
    transform: translateY(-100%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &:has(div:target) {
        transform: translateY(0%);
        opacity: 1;
    }

    a.nav {
        text-decoration: none;
        color: white;
        font-size: 40px;
        text-shadow: 0 2px 2px rgba(black, 0.8);
        opacity: 0.5;
        font-weight: 200;

        &:hover {
            opacity: 1;
        }
    }

    .target {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        transform: scale(0);
        align-items: center;
        justify-content: space-between;

        *:first-child,
        *:last-child {
            flex: 0 0 100px;
            text-align: center;

            @media all and (max-width:600px) {
                flex: 0 0 50px;
            }
        }

        .content {
            transform: scale(0.9);
            opacity: 0;
            flex: 1 1 auto;
            align-self: center;
            max-height: 100%;
            min-height: 0;
            // max-width:calc(100% - 200px);
            min-width: 0;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 0 0 3px white, 0 5px 8px 3px rgba(black, 0.6);
            transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;

            img {
                min-width: 100%;
                min-height: 100%;
                max-width: 100%;
                max-height: calc(100vh - 40px);
                display: block;
                margin: 0;
            }
        }

        &:target {
            transform: scale(1);

            .content {
                transform: scale(1);
                opacity: 1;
            }
        }
    }

    .close {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}