//
// Bar de navigation
.navbar-fixed {
    nav {
        background: linear-gradient(#60648e, #545643);

        .nav-wrapper {

            img {
                width: 4rem;
                margin: .5rem;
                background-color: white;
                padding: .1rem;
                border-radius: .5rem;
            }

            ul {
                li {
                    a {
                        font-size: 1.5rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

//
// Footer
.page-footer {
    background: linear-gradient(#545643, #60648e);

    .container {
        .row {

            .col.l6.s12 {
                h5 {
                    text-shadow: black 2px 5px;
                    text-align: center;
                    font-weight: bold;
                }

                ul {
                    li {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background-color: #494a3c80;
                        padding: .5rem;
                        border-radius: 1rem;
                        margin: .5rem;

                        h6 {
                            font-weight: bold;
                            font-size: 1rem;

                        }

                        p {
                            font-size: 1rem;
                        }
                    }
                }
            }

            .col.l4.offset-l2.s12 {
                h5 {
                    text-shadow: black 2px 5px;
                    text-align: center;
                    font-weight: bold;
                }

                ul {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    line-height: 5rem;

                    li {
                        font-weight: bold;
                        font-size: 2rem;


                    }

                }
            }

        }
    }

    .footer-copyright {
        background-color: #545643;
    }
}

//
// Page Home
.home {
    background-color: bisque;

    .imgparallax {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../Background/Lodge\(16\).jpg");


        /* Set a specific height */
        min-height: 600px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .titre {
            h1 {
                font-weight: bold;
                color: black;
                text-shadow: white 2px 5px 5px;
            }

            h2 {
                font-weight: bold;
                color: black;
                text-shadow: white 2px 5px 5px;

            }
        }
    }

    .container {
        h3 {
            text-shadow: rgb(255, 255, 255) 2px 0 10px;

            font-weight: bold;
        }

        p {
            font-size: 1.2rem;
            text-align: center;
        }
    }

}

//
// Page Contact
.contact {
    background-color: bisque;

    .container {

        h3 {
            font-weight: bold;
            text-align: center;
            text-shadow: black 2px 2px 5px;
        }

        .row {
            form {
                border-radius: 1rem;
                background-color: #494a3c;

            }
        }
    }
}

//
// PAge Archi
.archi {
    .container {
        h3 {
            font-weight: bold;
        }


    }

    .faitInteressant {
        text-shadow: white 2px 2px 5px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../projet-archi/rendufinal1.jpg");


        /* Set a specific height */
        min-height: 300px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;


    }



    .gallery {
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(10, 80vw);
        grid-template-rows: 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        overflow: scroll;
        height: 90vh;
        scroll-snap-type: both mandatory;
        scroll-padding: 1rem;
        cursor: grab;



        li {
            scroll-snap-align: center;
            display: inline-block;
            border-radius: 3px;
            background-color: bisque;


            .container {

                .titre {
                    display: flex;
                    justify-content: space-between;

                    p {
                        font-weight: bold;
                        text-shadow: 2px -2px 4px black;
                    }

                    h4 {
                        font-weight: bold;
                        text-shadow: 2px -2px 4px black;
                    }
                }

                .right-align {
                    p {
                        width: 20rem;
                        margin: 0 auto;
                        font-weight: 700;
                        line-height: 2rem;
                    }
                }
            }

            .container {
                img {
                    box-shadow: 0 0 0 3px white, 0 5px 8px 3px rgba(black, 0.6);
                }

                img:hover {
                    transform: scale(1.2);
                    /* Agrandit l'image de 20% au survol */
                }
            }


            .row.synthese-analyse {

                display: flex;
                align-items: center;
                padding: 2rem;

                img {
                    width: 50%;
                    box-shadow: 0 0 0 3px white, 0 5px 8px 3px rgba(black, 0.6);
                }

                img:hover {
                    transform: scale(1.2);
                    /* Agrandit l'image de 20% au survol */
                }

                .col.s12.m8.icones-synthese-text {
                    margin: 2rem;

                    .container {
                        img {
                            width: 20rem;
                            box-shadow: 0 0 0 3px white, 0 5px 8px 3px rgba(black, 0.6);
                        }
                    }



                    img:hover {
                        transform: scale(1.2);
                        /* Agrandit l'image de 20% au survol */
                    }

                    .text {
                        p {
                            line-height: 2;
                            margin: 1.5rem;
                        }
                    }
                }
            }



        }

    }

    .active {
        scroll-snap-type: unset;
        cursor: grabbing;
    }

}

.thumbs {
    display: flex;
    max-width: 100%;
    justify-content: space-evenly;

    a {
        max-width: 150px;
        height: 150px;
        margin: 10px;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 0 0 0 3px white, 0 5px 8px 3px rgba(black, 0.6);

        img {
            transform: scale(1);
            transition: transform 0.1s ease-in-out;
            filter: grayscale(50%);
            min-width: 100%;
            min-height: 100%;
            max-width: 100%;
            max-height: 100%;
        }

        &:hover {
            img {
                transform: scale(1.1);
                filter: grayscale(0%);
            }
        }
    }
}

.lightbox {
    position: fixed;
    background: rgba(black, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 90%;
    width: 100%;
    left: 0;
    top: 4.1rem;
    transform: translateY(-100%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &:has(div:target) {
        transform: translateY(0%);
        opacity: 1;
    }

    a.nav {
        text-decoration: none;
        color: white;
        font-size: 40px;
        text-shadow: 0 2px 2px rgba(black, 0.8);
        opacity: 0.5;
        font-weight: 200;

        &:hover {
            opacity: 1;
        }
    }

    .target {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        transform: scale(0);
        align-items: center;
        justify-content: space-between;

        *:first-child,
        *:last-child {
            flex: 0 0 100px;
            text-align: center;

            @media all and (max-width:600px) {
                flex: 0 0 50px;
            }
        }

        .content {
            transform: scale(0.9);
            opacity: 0;
            flex: 1 1 auto;
            align-self: center;
            max-height: 100%;
            min-height: 0;
            // max-width:calc(100% - 200px);
            min-width: 0;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 0 0 3px white, 0 5px 8px 3px rgba(black, 0.6);
            transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;

            img {
                min-width: 100%;
                min-height: 100%;
                max-width: 100%;
                max-height: calc(100vh - 40px);
                display: block;
                margin: 0;
            }
        }

        &:target {
            transform: scale(1);

            .content {
                transform: scale(1);
                opacity: 1;
            }
        }
    }

    .close {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}




.design {
    a {
        display: block
    }

    body {
        background: #262626;
        text-align: center
    }

    body,
    button {
        font-family: Tahoma, Geneva, sans-serif;
        font-style: normal;
        font-weight: 400
    }

    button {
        margin: 0;
        border: none;
        cursor: pointer
    }

    button:focus {
        background: #808080;
        color: #000
    }

    button,
    p,
    .home {
        font-size: 14px
    }

    button,
    .home {
        background: transparent;
        padding: 14px;
        color: #a3a3a3;
        vertical-align: middle
    }

    button:hover,
    .home:hover {
        background: #4d4d4d;
        color: #fff
    }

    h1,
    h2 {
        font-size: 30px
    }

    h1,
    p {
        margin: 0;
        padding: 0
    }

    [class*="container"] {
        display: block;
        position: relative;
        float: left
    }

    [class*="content"] {
        display: none;
        position: absolute;
        z-index: 10
    }

    .home,
    #btnMenu {
        position: relative;
        float: left
    }

    #btnMenu,
    .fa-close,
    .acc {
        display: none
    }

    .content_list:before,
    h2:before,
    h2:after {
        content: "";
        display: block;
        position: absolute
    }

    header {
        width: 100%;
        padding: 16px;
        display: block;
        position: absolute;
        z-index: 10;
        box-shadow: 0 8px 6px -6px #000
    }

    header h1,
    header p {
        letter-spacing: 5px;
        text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff
    }

    #sticky_nav {
        background: #000;
        width: 100%;
        top: -45px;
        display: block;
        position: fixed;
        z-index: 999;
        transition: all .5s ease
    }

    .btnList {
        width: 120px
    }

    .content_list {
        background: #fff;
        width: 250px;
        top: 45px
    }

    .content_list.left,
    .content_list.left:before {
        left: 0
    }

    .content_list.center {
        left: -65px
    }

    .content_list.center:before {
        left: 50%;
        transform: translate(-50%, 0)
    }

    .content_list.right,
    .content_list.right:before {
        right: 0
    }

    .content_list:before {
        width: 8px;
        top: -8px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #fff
    }

    .container_right {
        float: right
    }

    .content_search {
        background: #000;
        top: 0;
        right: 40px
    }

    input[type=text] {
        background: #fff;
        width: 100%;
        font-size: 22px;
        border-radius: 5px
    }

    @media (max-width:683px) {
        #btnMenu {
            display: block
        }

        .container_menu {
            display: none
        }

        .container_list {
            width: 100%
        }

        .btnList {
            width: 100%;
            box-shadow: 0 2px 2px -2px #333
        }

        .drop {
            display: none
        }

        .acc {
            display: inline-block
        }

        .content_list {
            width: 100%;
            top: 0;
            position: relative;
            float: left
        }

        .content_list.left,
        .content_list.center,
        .content_list.right {
            left: 0;
            right: 0
        }

        .content_list.left:before,
        .content_list.center:before,
        .content_list.right:before {
            left: 50%;
            transform: translate(-50%, 0)
        }

        .show_menu {
            background: #1a1a1a;
            width: 100%;
            top: 45px;
            display: block;
            position: absolute
        }
    }

    .title,
    .blank {
        width: 100%;
        min-height: 100%;
        display: block;
        position: relative;
        float: left
    }

    h2 {
        width: 100%;
        top: 50%;
        left: 0;
        margin: 0;
        padding: 0 8px;
        display: block;
        position: absolute;
        color: #fff;
        transform: translate(0, -50%)
    }

    h2:before,
    h2:after {
        width: 50px;
        height: 50px;
        left: 50%;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        animation: buble 1s linear infinite alternate
    }

    h2:before {
        bottom: -100px
    }

    h2:after {
        bottom: -110px
    }

    @keyframes buble {
        from {
            transform: rotate(45deg) translate(-50%, 0) scale(.8, .8)
        }

        to {
            transform: rotate(45deg) translate(-50%, 0) scale(1, 1)
        }
    }

    .blank {
        background: #262626
    }

    .visible {
        display: inline-block
    }

    .hidden {
        display: none
    }

    [class*="show"] {
        display: block
    }

    .show_list {
        padding: 20px 0;
        animation: height 1s ease
    }

    @keyframes height {
        from {
            padding: 0;
            opacity: 0
        }

        to {
            padding: 20px 0;
            opacity: 1
        }
    }

    .show_search form {
        width: 150px;
        padding: 6px;
        animation: width 1s ease
    }

    @keyframes width {
        from {
            width: 0;
            opacity: 0
        }

        to {
            width: 150px;
            opacity: 1
        }
    }
}